<div class="box-detalhes">  
    <h3 class="text-center">Detalhes do produto</h3>
    <ul class="list-group">
      <li class="list-group-item">Marca:
      <b class="price">{{qrcode.produto.marca}}</b>
      </li>
      <li class="list-group-item">Medidas:
        <b>A{{qrcode.produto.altura}} x L{{qrcode.produto.largura}} x C{{qrcode.produto.profundidade}}</b>
      <li class="list-group-item">Peso:
        <b class="price">{{qrcode.produto.pesoBruto}}Kg</b>
        </li>
        <li class="list-group-item">Material:
          <b class="price">{{qrcode.produto.material}}</b>
          </li>
    </ul> 
</div> 