.box-text{
    padding: 0px; 
    border-radius: 10px;
    margin: 4px; 
     
    font-family: 'Readex Pro', sans-serif;
}

.box-text svg{
    margin: 2px;
}

li svg{
    margin-right: 10px;
}

li{
    font-size: 18px;  
}
 
.material-symbols-outlined { 
    font-size: 28px;
    margin-left: 0;
}

.list-group-item { 
    padding: 2px;
}



