@use "@material/list";
@use "@material/ripple";

@include list.deprecated-core-styles; 

li{
    border-bottom: solid #eeeeee 0.01rem;
}

.mdc-deprecated-list-item__primary-text{
    font-family: 'Readex Pro', sans-serif !important;
    color: #434343;
}